<div class="home">
  <h1>Welcome to findy</h1>
  <button id="index">Show All</button>
  <button id="hide_index">Hide All</button>
  <button id="show">Show Contact</button>
  <input type="text" id="contact_id" placeholder="contact"/></input>
  <!-- <div class="contact_info">
    <h4>Email: <span id="email"></span></h4>
    <h4>First Name: <span id="first_name"></span></h4>
    <h4>Last Name: <span id="last_name"></span></h4>
    <h4>Phone Number: <span id="phone_number"></span></h4>
  </div>
   -->
</div>
