<div class="container well home">
  <div class="well title-section">
    <h1>Welcome to Findy</h1>
  </div>
  <div class="well search_bars button-section">
    <label>Contact Id </label>
    <input type="text" id="contact_id" placeholder="contact id"/></input>
    <label>Search Contacts </label>
    <input type="text" id="search" placeholder="enter search term"/></input>
  </div>
  <button id="index" class="btn btn-default">Show All</button>
  <button id="hide_index" class="btn btn-default">Hide All</button>
  <button id="new" class="btn btn-primary">New</button>
</div>
