<div class="home">
  <h1>Welcome to Findy</h1>
  <div class="search_bars">
    <label>Contact Id </label>
    <input type="text" id="contact_id" placeholder="contact id"/></input>
    <label>Search Contacts </label>
    <input type="text" id="search" placeholder="enter search term"/></input>
  </div>
  <button id="index">Show All</button>
  <button id="hide_index">Hide All</button>
  <button id="new">New</button>
</div>
